h1{
  color: purple;
  font-family:fantasy;
}
button {
  background-color: skyblue;
  font-style: italic;
}
div{
  border: solid 1px;
  color: black;
}
p{
  font-family:serif;
  color: red;
}
#cake{
  width:300px;
  height:200px;
}
